<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="inner-box">
        <div class="page-header" style="margin-top: 0;">
          <span class="h3"><%= @customer_account.brand.name %></span>
        </div>

        <div style="padding: 0 8px 20px;">
          <div class="row" style="font-size: 14px;">
            <div class="col-sm-7">
              Reward Program:
              <span id="reward-program">
                <%= render 'reward_program', account: @customer_account %>
              </span>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="row">
              <div class="col-sm-12" style="margin: 7px auto;">
                <div class="panel-title truncate" style="display: inline-block; width: 75%; margin-top: 3px;">
                  <a data-toggle="collapse" href="#collapse_rewards" style="text-decoration: none;">
                    Points: <span id="points-balance"><%= @customer_account.points_balance %></span>
                  </a>
                </div>
                <%= link_to new_customer_account_reward_path(@customer_account), remote: true, class: 'btn btn-primary btn-sm pull-right', style: 'width: 70px;' do %>Redeem<% end %>
              </div>
            </div>
          </div>

          <div id="collapse_rewards" class="panel-collapse collapse">
            <div id="reward-list" class="panel-body" style="padding-bottom: 0;">
              <%= render 'rewards/list', rewards: @last_rewards %>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" style="padding-top: 3px; padding-bottom: 3px;">
            <div class="row">
              <div class="col-sm-12" style="margin: 7px auto;">
                <div class="panel-title truncate" style="display: inline-block; width: 75%; margin-top: 3px;">
                  <a data-toggle="collapse" href="#collapse_purchases" style="text-decoration: none;">
                    Purchases: <span id="total-purchases"><%= number_to_currency(@customer_account.total_purchases, precision: 0) %></span>
                  </a>
                </div>
                <%= link_to new_customer_account_purchase_path(@customer_account), remote: true, class: 'btn btn-primary btn-sm pull-right', style: 'width: 70px;' do %>Buy<% end %>
              </div>
            </div>
          </div>

          <div id="collapse_purchases" class="panel-collapse collapse">
            <div id="purchase-list" class="panel-body" style="padding-bottom: 0;">
              <%= render 'purchases/list', purchases: @last_purchases %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
